.createContainer {
  display: flex;
  justify-content: center;
}

.createForm {
  padding-top: 100px;
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.createLabel {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--text-secondary);
}

.createInput {
  padding: 8px 12px;
  border: 1px solid var(--primary);
  border-radius: 9px;
  margin-bottom: 8px;
}

.createTextArea {
  padding: 8px 12px;
  border: 1px solid var(--primary);
  border-radius: 9px;
  margin-bottom: 8px;
}
