* {
  margin: 0;
  padding: 0;
}
:root {
  --primary: rgb(230, 46, 110);
  --secondary: rgb(50, 50, 255);
  --background: rgb(255, 255, 255);
  --text: rgb(0, 0, 0);
  --text-secondary: rgb(92, 92, 92);
  --ff: "Roboto", sans-serif;
}

body {
  font-family: var(--ff);
}

a {
  text-decoration: none;
  cursor: pointer;
}
